In [1]:
from postprocessing.results import ResultsSubject
import pandas as pd
import os
import numpy as np
from postprocessing.metrics import *
import misc.datasets
import misc.constants as cs
from pathlib import Path
import misc.datasets
from misc.utils import print_latex
from abc import ABC, abstractmethod

In [9]:
test_model = ResultsSubject('elm', 'NOV_3_2023', 30, 'ohio', '559')

params = test_model.params
results = test_model.results

In [10]:
params

{'hist': 180, 'neurons': 18816.0, 'l2': 316.22776601683796}

In [14]:
len(results)

5

In [16]:
results[0]

                     y_true      y_pred
datetime
2022-01-18 00:00:00   179.0  169.441422
2022-01-18 00:05:00   183.0  175.839508
2022-01-18 00:10:00   187.0  180.479538
2022-01-18 00:15:00   191.0  187.085632
2022-01-18 00:20:00   195.0  192.214294
...                     ...         ...
2022-01-27 23:15:00   185.0  152.799591
2022-01-27 23:20:00   183.0  141.641174
2022-01-27 23:25:00   182.0  163.463516
2022-01-27 23:30:00   180.0  150.875443
2022-01-27 23:35:00   177.0  159.351837

[2876 rows x 2 columns]

In [17]:
results[1]

                     y_true      y_pred
datetime
2022-01-18 00:00:00   179.0  165.581787
2022-01-18 00:05:00   183.0  172.459702
2022-01-18 00:10:00   187.0  176.418045
2022-01-18 00:15:00   191.0  182.579208
2022-01-18 00:20:00   195.0  187.198883
...                     ...         ...
2022-01-27 23:15:00   185.0  137.092270
2022-01-27 23:20:00   183.0  118.394485
2022-01-27 23:25:00   182.0  126.711342
2022-01-27 23:30:00   180.0  104.668541
2022-01-27 23:35:00   177.0  121.898735

[2876 rows x 2 columns]